<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fit-Journal | Login</title>

    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/login.css" />

</head>

<body>
    <main class="login-page">
        <section class="container js-container">
            <div class="login-page">
                <h1>Sign into your account</h1>
                <div class="form column">
                    <form id="login-form" action="" method="POST">
                        <input class="item" id="username-txt" type="text" placeholder="username" name="username">
                        <input class="item" id="password-txt" type="password" placeholder="password" name="password" />
                        <button class="login-btn" type="submit"> Log In </button>
                    </form>
                </div>
                <p class="message"> Not registered?
                    <a class="js-signUp" href="#">Create an account </a>
                </p>
            </div>




        </section>
    </main>
    <footer>
        <div class="foot-col">
            <ul>
                <li class="ftLinks"><a href="#"> Features </a></li>
                <li class="ftLinks"><a href="#"> About </a></li>
                <li class="ftLinks"><a href="#"> Blog</a></li>
                <li class="ftLinks"><a href="#"> Contact Us </a></li>
            </ul>
        </div>
        <div class="foot-col">
            <ul>
                <li class="ftLinks"><a href="#">Facebook</a></li>
                <li class="ftLinks"><a href="#">Instagram</a></li>
                <li class="ftLinks"><a href="#">Twitter</a></li>
                <li class="ftLinks"><a href="#">Youtube</a></li>
            </ul>
        </div>
        <div class="foot-col">
            <ul>
                <li class="ftLinks"><a href="#">SIGN UP</a></li>
                <li class="ftLinks"><a href="#">LOG IN</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="/utilities/cache.module.js"></script>
    <!-- <script src="/utilities/render.module.js"></script> -->
    <script src="/utilities/http.module.js"></script>
    <script src="/auth.page.js"></script>
    <script src="/index.page.js"></script>
</body>

</html>