@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    /* display: none; */
}

.column {
    flex-direction: column;
    float: left;
}

.form {
    margin: 10px;
    background-color: #e6e6ea;
    display: flex;
    /* flex-direction: column; */
    justify-content: background: #FFFFFF;
    min-width: 430px;
    height: 380px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
}

.not-reg {
    background-color: beige;
    border-top: #92a2aa solid 2px;
    /* margin-bottom: auto; */
}

h1 {
    color: blueviolet;
    font-size: 2.5rem;
}

.item {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 240px;
}

.label {
    font-size: 1.5rem;
    text-align: left;
}

.login-btn {
    width: 240px;
    background-color: #4ca2cd;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
}

.login-page {
    background-color: transparent;
}