* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Proxima Nova Thin", Arial, Helvetica, sans-serif;
}

body {
    background-color: #131313;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem
}

.nav-bar {
    height: 40px;
    background-color: #131313;
}

main {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    margin: 0 auto;
    min-height: 1040px;
    background-color: #fff;
}

#splash {
    max-width: 1220px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.wo-container {
    display: flex;
    min-width: 800px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 30px;
    flex-direction: column;
}

.header {
    display: flex;
    max-width: 990px;
    height: 40px;
    background-color: #131313;
    color: #fff;
    justify-content: center;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    width: 100%;
}

.logo {
    justify-content: flex-start;
    width: 50%;
    font-size: 2rem;
    padding-left: 40px;
    line-height: 40px;
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    color: #ecc309;
}

.logo a:visited {
    color: #fff;
}

.login-logo {
    justify-content: center;
    width: 100%;
    font-size: 2rem;
}

.nav-login {
    justify-content: flex-end;
    text-align: right;
    padding-right: 40px;
    font-size: 2rem;
}

.login {
    padding-right: 20px;
    font-size: 1.5em;
}

.login {
    text-decoration: none;
}

.login:visited {
    color: #fff;
}

.login:hover {
    color: #ecc309;
}

.nav-login {
    justify-content: flex-end;
    width: 50%;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 1.5rem;
}


/* FOOTER STYLES */

footer {
    background-color: #131313;
    width: 100%;
    height: 300px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border-top: #67B26F 3px solid;
}

.foot-col {
    flex-direction: column;
    margin: 30px 60px;
}

ul {
    list-style-type: none;
    font-size: 2rem;
}

.ftLinks {
    margin-top: 1rem;
}

.ftLinks>a {
    text-decoration: none;
}

.ftLinks>a:link {
    color: #fff;
}

.ftLinks>a:visited {
    color: #fff;
}

.ftLinks>a:hover {
    color: #ecc309;
}


/* font-size: 50px;
line-height:50px;
color:#fff;
max-width:370px;
@media (max-width: 1024px) */


/*LOGIN CSSS*/

.login-page {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 100px;
    background-color: #e6e6ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
}

.not-reg {
    background-color: beige;
    border-top: #92a2aa solid 2px;
    /* margin-bottom: auto; */
}

.item {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.label {
    font-size: 1.5rem;
    text-align: left;
}

.login-btn {
    width: 300px;
    background-color: #4ca2cd;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
}

#login-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page {
    background-color: transparent;
    height: 100%;
}

.sign-up {
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
}

.sign-up :hover {
    color: #ecc309;
}

.sign-up :visited {
    color: #fff;
}


/*WORKOUTS CSS*/

.workout-entry {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.log-header {
    display: flex;
    /*   justify-content: space-evenly; */
    margin: 0px;
    height: 40px;
}

.stat-labels {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 40px;
}

.log-stat-lbl {
    background-color: #465C8b;
    color: #FFF;
    width: 100%;
    border-right: #fff solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0
}

.log-stat {
    font-size: 1.25em;
    background-color: #DFDCE3;
    width: 100%;
    height: 100%;
    display: flex;
    border-right: #fff solid 2px;
    border-top: #fff solid 2px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.ex-head {
    display: flex;
    /*   justify-content: flex-start; */
    width: 50%;
    padding-left: 10px;
}

.ex-name {
    display: flex;
    /*   justify-content: flex-start; */
    background-color: #DFDCE3;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0;
    border-right: #fff solid 2px;
    border-top: #fff solid 2px;
    padding-left: 20px;
    font-weight: normal;
}


/* .workoutInfo {
    border: 1px solid gray;
    padding: 10px;
} */

.ex-list {
    width: 95%;
}

.delete {
    width: 5%;
    border: #fff solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #465C8b
}

#icon {
    background-color: #fff;
}

.delete:hover {
    color: rgb(205, 0, 0)
}

.add-ex {
    padding-left: 10px;
    margin-top: 20px;
}

.add-ex a {
    text-decoration: none;
}

.add-ex a:visited {
    color: blue
}

.add-ex a:hover {
    color: green
}

.add-ex a: {}

.ex-item {
    display: flex;
    font-size: 1.25em;
}


/************ TypeAhead Styles *****************/

.typeahead,
.tt-query,
.tt-hint {
    height: 50px;
    padding: 8px 12px;
    font-size: 1.75em;
    line-height: 50px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    min-width: 75%;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 3px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.twitter-typeahead {
    width: 75%;
}


/* Date Navigation */

.date-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
}

.fa-caret-left {
    display: flex;
    font-size: 30px;
    align-items: center;
    text-align: center;
    width: 50px;
    border-right: 2px solid lightgrey;
}

.fa-caret-right {
    font-size: 30px;
    align-items: stretch;
    width: 50px;
    text-align: center;
    align-items: center;
    border-left: 2px solid lightgrey;
}

.fa-caret-left:hover {
    color: #9aa0ab;
}

.fa-caret-right:hover {
    color: #9aa0ab;
}

.date-sel {
    min-width: 200px;
    /*   border: 2px solid lightgrey; */
    text-align: center;
    align-items: center;
    font-size: 1.75em;
    padding: 10px;
}


/* Search/Add workout Styles */

.ex-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    flex-direction: column;
}

.set-wkout {
    display: flex;
    width: 300px;
    min-height: 200px;
    background-color: #ecc309;
    /* border: #131313 2px solid; */
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #131313;
}

#saveSet {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

#the-basics {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.set-input {
    margin-top: 15px;
    font-size: 1.25em;
}

.search-btn {
    /* justify-content: flex-end; */
    height: 50px;
    border: 0px;
    background-color: #465C8b;
    color: #FFF;
    font-size: 1.75em;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    margin-left: 10px;
    min-width: 25%;
}

.search-ex {
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.75em;
}

.form-save {
    width: 100%;
}

.save-set {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 2em;
    border: none;
    padding: 5px 10px;
    background-color: #465C8b;
    border-radius: 5px;
    color: #fff;
    border: #FFF 2px solid;
}

.save-set:hover {
    color: #ecc309;
}

#POST-weight {
    border-radius: 3px;
    height: 25px;
    width: 50px;
    padding: 5px;
    text-align: center;
}

#weight-lbl {
    font-size: 1.25em;
    vertical-align: text-top;
}

#POST-reps {
    border-radius: 3px;
    height: 25px;
    width: 50px;
    padding: 5px;
    text-align: center;
}

#reps-lbl {
    margin-right: 13px;
    font-size: 1.25em;
    vertical-align: text-top;
}

.alphalist {
    margin-top: 30px;
}


/* FORM styles */

fieldset {
    border: none;
}

.avatar {
    height: 100px;
    border: 5px solid #0098cfd7;
    border-radius: 25%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.welcome {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
}


/* INDEX PAGE STYLE */

#jumbotron {
    display: flex;
    flex-direction: column;
    background: url("../img/fit_splash_5.jpg");
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

.home-container {
    top: 50%;
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-reg {
    display: flex;
    width: 300px;
    height: 60px;
    color: #465C8b;
    font-size: 3em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #ecc309;
    justify-content: center;
}

.home-reg a {
    text-decoration: none;
}

.home-reg a:visited {
    color: #465C8b;
}

.home-reg a:hover {
    color: #fff;
}

.bg-info {
    display: flex;
    background-color: #DFDCE3;
    height: 550px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* line-height: 300px; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
}

#home-container {
    background-color: #465C8b;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}


/* Splash Page Graphics */

.activites {
    display: flex;
    height: 390px;
    width: 280px;
    background-color: #465C8b;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #FFF;
    box-shadow: #0e1015 1px 5px 5px;
    border: 10px solid #fff;
    border-radius: 10px;
}

.activites h2 {
    margin-bottom: 50px;
    text-shadow: #0e1015 1px 5px 5px;
}

.strength {
    height: 200px;
    display: flex;
    justify-content: center;
}

.cardio {
    height: 200px;
    display: flex;
    vertical-align: bottom;
    justify-content: center;
}

.graph {
    height: 200px;
    display: flex;
    justify-content: center;
}

.devices {
    background-color: #465C8b;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    align-items: center;
}

.device-text {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 40px;
    color: #fff;
    flex-direction: column;
}

.device-imgs {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
}

.mobile-img {
    max-height: 300px;
}

.already {
    color: #fff;
    margin-top: 20px;
    font-size: 1.25px;
    height: 15px;
}


/* .already a {} */

.already a:hover {
    color: #fff;
}

.already a:visited {
    color: #fff;
}