* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    min-width: 992px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: row;
}

.header {
    width: 100%;
}

.row {
    width: 100%;
}

.logo {
    justify-content: flex-start;
    width: 50%;
}

.nav-login {
    justify-content: flex-end;
    width: 50%;
}


/* <style type = 'text/css'>
    .flex { display: flex; flex-direction: row; justify-content: center; width: 800px; border: 1px solid gray; padding: 4px;}
    .flex div { border: 1px solid gray; padding: 4px; background: #A4F2D8; font-family: verdana; font-size: 19px; text-align: center; color: gray; }
</style>
<div class = 'flex'>
    <div style = 'width: 952px; height: 82px'>1</div>
</div> */